[project]
name = "toksearch"
channels = ["ga-fdp", "conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = ">=3.11,<3.13"
mdsplus-xrdcl = "*"
numpy = ">=1.20, <2"
pymssql = "*"
ray-core = "*"
pyspark = ">=4"
openjdk = ">=17"
scipy = "*"
sh = "*"
xarray = "*"
bottleneck = "*"
openblas = "*"
joblib = ">=1.3"
jupyter = "*"
fsspec = "*"
zarr = "3.*"
c-compiler = "*"
setuptools = "*"
pip = "*"

[tasks]
build = "pip install -e . --no-deps"
test = { cmd = "cd tests && ./testit", depends-on = ["build"] }

[pypi-dependencies]
toksearch = { path = ".", editable = true }

[feature.docs.dependencies]
python = "3.10.*"
mkdocs = "1.5.3.*"
mkdocs-autorefs = "<1.4"
mkdocs-material = "9.5.*"
mkdocstrings = "0.24.1.*"
mkdocstrings-python = "1.9.1.*"
mkdocs-jupyter = "0.24.6.*"
mike = "2.0.*"
griffe = "<1"

[feature.docs.tasks]
docs-build = "mkdocs build"
docs-serve = "mkdocs serve"

[environments]
docs = { features = ["docs"], no-default-feature = true }
