name: Conda Package CI/CD

on:
  push:
    branches:
      - main
    tags:
      - 'release-*'
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: latest

      - name: Build Conda package
        run: |
          pixi global install rattler-build
          ./build_package.sh ${HOME}/outdir

      - name: Upload to Anaconda
        if: startsWith(github.ref, 'refs/tags/release-')
        run: |
          rattler-build upload anaconda \
            --owner ga-fdp \
            --api-key ${{ secrets.ANACONDA_API_TOKEN }} \
            --force \
            ${HOME}/outdir/linux-64/*.conda

      - name: Deploy Docs
        if: startsWith(github.ref, 'refs/tags/release-')
        run: |
          TAG=${GITHUB_REF#refs/tags/release-}
          MAJOR=$(echo $TAG | cut -d. -f1)
          MINOR=$(echo $TAG | cut -d. -f2)

          git config --global user.name "Docs Deploy"
          git config --global user.email "toksearch-docs@fusion.gat.com"
          pixi run -e docs mike deploy --push --update-aliases ${MAJOR}.${MINOR}.X latest
